/*limited reset*/
/*html, body, div, section, article, aside, header, hgroup, 
footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, 
address, time, span, em, strong, img, ol, ul, li, figure, 
canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

h1 {
	font-size: 6em;
	color: #ef5350;
	text-align: center;
	-webkit-animation: bound 1s ease 1s 1 both;
}

#container {
	position: relative;
}

.bin-im {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute;
}

#left {
	left: 0px;
	top: 200px;
	-webkit-animation: moveR 2s ease-out 1 both;
}

#right {
	left: 0px;
	top: 200px;
	-webkit-animation: moveL 2s ease-out 1 forwards;
}

#middle {
	top: 200px;
	left: 150px;
	-webkit-animation: glow 3s ease-out 2s 1 both;
}

@-webkit-keyframes moveR {
	from {-webkit-transform: translateX(-300px)rotate(0deg);
		  -webkit-opacity: 1;}          
	to {-webkit-transform: translateX(150px)rotate(-360deg);
		-webkit-opacity: 0.3;}
}

@-webkit-keyframes moveL {
	from {-webkit-transform: translateX(600px)rotate(0deg);
		-webkit-opacity: 1;}    
	to {-webkit-transform: translateX(150px)rotate(360deg);
		-webkit-opacity: 0.3;}
}

@-webkit-keyframes glow {
	0% {-webkit-opacity: 0;}    
	30% {-webkit-opacity: 1;}
    70% {-webkit-opacity: 1;}
	100% {-webkit-opacity: 0;}
}

@-webkit-keyframes bound {
	0% {-webkit-transform: translateY(-200px);
       -webkit-opacity: 0;
	}    
    90% {-webkit-transform: translateY(220px);
       -webkit-opacity: 1;
    } 
	100% {-webkit-transform: translateY(200px);
       -webkit-opacity: 1;
	} 
}
*/


body {
	margin: 0 auto;
	width: 70%;
	height: 100vh;
	background: #757575;
}

div {
	display: block;
	width: 100%
	text-align: center;
}

img:first-child {
    -webkit-transform-origin: 49.5% 26.5%;
    -webkit-transform: rotateZ(-70deg);
}

img{
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 2;
}

img + img {
	top: 200px;
	z-index: 1;
}

.spinner {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 1;
	top: 200px;
	-webkit-animation: spin 20s linear .5s infinite forwards;
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotateZ(0deg)}
    to {-webkit-transform: rotateZ(360deg)};
}

.bar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
    z-index: 2;
    -webkit-animation: skew .5s linear both;
    -webkit-transform-origin: 49.5% 26.5%;
}

@-webkit-keyframes skew {
    from {-webkit-transform: rotateZ(-70deg)}
    to {-webkit-transform: rotateZ(-30deg)};
}

p {
	display: block;
	width: 90px;
    height: 90px;
	position: absolute;
	-webkit-transform: translateX(-50%);
    left: 50%;
	top: 700px;
	font-size: 1.5em;
	background: url(images/swicth_sprit_e.png) no-repeat;
}
